#portfolio h4{
    color: rgb(243, 65, 127);
    font-size: 1rem;
    padding-top: 4rem;
}

.projetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
}
