#footer{
    background-color: rgb(243, 65, 127);
    padding: 2rem 5rem;
    text-align: center;
    color: white;
    margin-bottom: 0;
  }
  #footer p{
    color: white;
    margin-bottom: 0;
  }
  
  a:hover{
    filter:brightness(0.8);
  }